<div class="mobile-header">
  <a href="/discover" class="discover-link">
    <ion-icon
      class="discover-icon"
      name="<%= currentPage === 'discover' ? 'compass' : 'compass-outline' %>"
    ></ion-icon>
  </a>
  <img src="/images/petify-cat-dark.svg" class="cat-logo" alt="Petify logo" />
  <form action="" class="search-container" id="searchBar">
    <input
      type="search"
      id="search"
      class="search-input"
      placeholder="Search..."
    />
    <button type="button" class="search-button" id="searchToggle">
      <ion-icon name="search-outline" class="search-outline"></ion-icon>
    </button>
  </form>

  <!-- Dropdown search results -->
  <div id="searchResults" class="search-results hidden"></div>
</div>
