<header>
  <form action="" class="search-container" id="searchBar">
    <input type="search" class="search-input" placeholder="Search..." />
    <button type="button" class="search-button" id="searchToggle">
      <ion-icon name="search-outline" class="search-outline"></ion-icon>
    </button>
  </form>
</header>
