<footer class="navigation">
  <ul>
    <li class="list <%= currentPage === 'home' ? 'active' : '' %>">
      <a href="/">
        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
        <span class="text">Home</span>
      </a>
    </li>
    <li class="list <%= currentPage === 'create' ? 'active' : '' %>">
      <a href="/posts/create">
        <span class="icon"
          ><ion-icon name="add-circle-outline"></ion-icon
        ></span>
        <span class="text">Create</span>
      </a>
    </li>
    <li class="list <%= currentPage === 'profile' ? 'active' : '' %>">
      <a href="/profile">
        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
        <span class="text">Profile</span>
      </a>
    </li>
    <div class="indicator"></div>
  </ul>
</footer>

<script>
  const navItems = document.querySelectorAll(".navigation ul li");

  navItems.forEach(item => {
    item.addEventListener("click", e => {
      e.preventDefault(); // stop page reload

      //Remove active from all, then set on clicked one
      navItems.forEach(li => li.classList.remove("active"));
      item.classList.add("active");

      // get the links href
      const href = item.querySelector("a").getAttribute("href");

      // Delay navigation until after transition
      setTimeout(() => {
        window.location.href = href;
      }, 500);
    });
  });
</script>
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>
