<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("components/head", { title, description, stylesheets:
    ['/css/create-post.css', '/css/desktop-navbar.css',
    '/css/mobile-header.css', '/css/mobile-navbar.css'] }) %>
    <script type="module" src="/js/search.js"></script>
    <script type="module" src="/js/create-post.js"></script>
  </head>
  <body>
    <header>
      <%- include("components/desktop-side-panel") %> <%-
      include("components/mobile-header") %>
    </header>

    <main>
      <h1 class="page-title">Create Post</h1>

      <form id="form" class="form">
        <div id="uploadImageContainer">
          <div class="upload-image-wrapper">
            <img
              src="/images/upload-image.svg"
              alt="Upload an image to publish"
              class="upload-image-svg"
            />
            <button type="button" class="button upload-image-btn">
              Upload an image
            </button>
          </div>
          <p class="input-error" id="imageError"></p>
        </div>

        <div class="input-wrapper">
          <label for="alt" class="label-styling">Alt Text:</label>
          <input type="text" id="alt" name="alt" class="input-styling" />
          <p class="input-error" id="altError"></p>
        </div>

        <div class="input-wrapper">
          <div class="char-wrapper">
            <label for="body" class="label-styling">Description:</label>
            <div id="bodyCounter" class="char-counter">0/5000</div>
          </div>
          <textarea
            id="body"
            name="body"
            class="input-styling body-input"
            rows="10"
          ></textarea>
          <p class="input-error" id="bodyError"></p>
        </div>

        <button type="submit" class="button">Share</button>
      </form>

      <div class="bottom-spacing"></div>
    </main>

    <%- include("components/mobile-navbar") %>
  </body>
</html>
