<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("components/head", { title, description, stylesheets:
    ['/css/post-thumbnail.css', '/css/desktop-navbar.css', '/css/edit-post.css']
    }) %>
    <script type="module" src="/js/edit-post.js"></script>
    <script type="module" src="/js/search.js"></script>
  </head>
  <body>
    <header><%- include("components/desktop-side-panel") %></header>
    <main>
      <div id="displayContainer" data-post-id="<%= postId %>"></div>
      <div class="button-wrapper">
        <a href="/profile" class="button cancel-btn"
          >Cancel <ion-icon name="close" class="ex"></ion-icon
        ></a>
        <button type="submit" class="button save-button">Save</button>
      </div>

      <div id="commentsSection" class="comment-section"></div>

      <div class="bottom-spacing"></div>
    </main>
    <footer class="add-comment-section">
      <a href="/profile" class="button cancel-btn"
        >Cancel <ion-icon name="close" class="ex"></ion-icon
      ></a>
      <button type="submit" class="button save-button">Save</button>
    </footer>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
