<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/edit-profile.css" />
    <%- include("components/links") %>
    <script type="module" src="/js/edit-profile.js"></script>
  </head>
  <body>
    <header><%- include("components/desktop-side-panel") %></header>
    <main>
      <h1 class="title">Edit Profile</h1>
      <img
        src=""
        alt="Profile picture"
        class="profile-picture"
        id="profilePicture"
      />
      <button
        type="button"
        class="button change-photo-btn"
        id="changeAvatarBtn"
      >
        Change photo
      </button>
      <div class="account-info">
        <span class="bold">Username</span>
        <span class="value-styling" id="username"></span>
        <div class="hr-line"></div>
      </div>
      <div class="account-info">
        <span class="bold">Email</span>
        <span class="value-styling" id="email"></span>
        <div class="hr-line"></div>
      </div>
      <button type="button" class="button signout-btn" id="signoutBtn">
        Sign out
      </button>
      <div class="button-wrapper">
        <a href="/profile" class="button cancel-btn"
          >Cancel <ion-icon name="close" class="ex"></ion-icon
        ></a>
        <button type="button" class="button save-btn" id="saveBtn">Save</button>
      </div>

      <div class="bottom-spacing"></div>
    </main>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
