<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/post-thumbnail.css" />
    <script type="module" src="/js/index.js"></script>
    <%- include("components/links") %>
  </head>
  <body>
    <%- include("components/mobile-header") %>

    <main id="displayContainer"></main>
    <div class="footer-fix"></div>
    <%- include("components/mobile-navbar") %>
  </body>
</html>
