<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/login-signup.css" />
    <script type="module" src="/js/login.js"></script>
  </head>
  <body>
    <header>
      <img src="/images/petify-logo-dark.svg" class="logo" />
      <p class="app-description">
        Connect with pet lovers, share your furry friend’s moments, and discover
        a community made just for pets and their humans
      </p>
    </header>
    <main>
      <h1>LOG IN</h1>
      <form class="login-form" id="loginForm" novalidate>
        <input type="email" id="email" name="email" placeholder="Email" />
        <p class="input-error" id="emailError"></p>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
        />
        <p class="input-error" id="passwordError"></p>
        <button class="button">Log in</button>
        <div id="errorMessage"></div>
        <span class="hr-lines">OR</span>
        <p class="form-paragraph">Don't have an account?</p>
        <a class="link" href="/auth/signup">Sign up</a>
      </form>
    </main>
    <div class="bottom-spacing"></div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
