<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/profile.css" />
    <%- include("components/links") %>
    <script type="module" src="/js/personal-profile.js"></script>
  </head>
  <body>
    <header>
      <%- include("components/desktop-side-panel") %><%-
      include("components/mobile-header") %>
    </header>

    <main>
      <img
        src=""
        alt="Profile picture"
        class="profile-picture"
        id="profilePicture"
      />
      <h1 class="username" id="username"></h1>
      <a href="/profile/edit" class="button edit-profile-button"
        >Edit profile</a
      >

      <div class="info-section">
        <div class="align-center">
          <span class="numbers-styling" id="followingCount"></span>
          <span class="text-styling">Following</span>
        </div>
        <div class="vertical-line"></div>
        <div class="align-center">
          <span class="numbers-styling" id="followersCount"></span>
          <span class="text-styling">Followers</span>
        </div>
        <div class="vertical-line"></div>
        <div class="align-center padding-right">
          <span class="numbers-styling" id="postsCount"></span>
          <span class="text-styling">Posts</span>
        </div>
      </div>

      <div class="posts-container" id="postsContainer"></div>

      <div class="bottom-spacing"></div>
    </main>

    <%- include("components/mobile-navbar") %>
  </body>
</html>
