<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/login-signup.css" />
    <script type="module" src="/js/register.js"></script>
  </head>
  <body class="dark-background">
    <header>
      <img src="/images/petify-logo-light.svg" class="logo" />
    </header>
    <main>
      <h1 class="signup-title">SIGN UP</h1>
      <form class="signup-form" id="signupForm" novalidate>
        <div>
          <input type="text" id="name" name="name" placeholder="Username" />
          <p class="input-error" id="nameError"></p>
        </div>
        <div>
          <input type="email" id="email" name="email" placeholder="Email" />
          <p class="input-error" id="emailError"></p>
        </div>
        <div>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
          />
          <p class="input-error" id="passwordError"></p>
        </div>
        <button class="button create-button">Create account</button>
        <div id="errorMessage"></div>
        <p>Already have an account?</p>
        <a class="link login-link" href="/auth/login">Log in</a>
      </form>
    </main>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
