main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
}

.page-title {
  font-size: 32px;
  font-weight: 900;
  color: var(--secondary-darker);
  margin: 20px 0;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 330px;
  gap: 15px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.label-styling,
.char-counter {
  font-size: 14px;
}

.input-styling {
  background-color: var(--primary-light);
  border: solid 2px var(--primary-dark);
  color: var(--primary-dark);
  font-size: 16px;
  padding: 8px 15px;
  border-radius: 20px;
}

.input-styling:focus {
  border: solid 2px var(--accent-color);
  outline: none;
}

.body-input {
  padding: 10px 15px;
}

.char-counter {
  color: var(--secondary-darker);
}

.char-wrapper {
  display: flex;
  justify-content: space-between;
}

.button {
  align-self: center;
  margin-bottom: 60px;
}

.upload-image-svg {
  width: 200px;
}

#uploadImageContainer .upload-image-btn {
  margin: 15px 0 0 0;
  background-color: var(--secondary-light);
}

.upload-image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px var(--primary-dark);
  border-radius: 20px;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.uploaded-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 20px;
}
