:root {
  --primary-light: #e5e1f2;
  --primary-dark: #5f5aa5;
  --secondary-light: #baaceb;
  --secondary-darker: #a796e3;
  --accent-color: #6da90f;
  --warning-color: #e67aae;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Encode Sans", sans-serif;
  font-weight: 500;
}

body {
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

main {
  max-width: 470px;
  margin: 0 auto;
}

.button {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  border: none;
  padding: 9px 25px;
  border-radius: 30px;
  cursor: pointer;
}

.bottom-spacing {
  margin-bottom: 60px;
}
