/* Shared styling and login form */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 258px;
  margin-top: 40px;
}

.app-description {
  font-size: 0.8em;
  width: 258px;
  text-align: center;
  margin: 12px 0 40px 0;
}

h1 {
  font-size: 24px;
  font-weight: 900;
  color: var(--secondary-darker);
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 258px;
}

form input {
  background-color: var(--primary-light);
  border: solid 2px var(--primary-dark);
  width: 100%;
  font-size: 0.9em;
  padding: 9px 17px;
  border-radius: 30px;
  color: var(--primary-dark);
  margin: 5px 0;
}

form input::placeholder {
  color: var(--secondary-light);
}

form input:focus {
  border: solid 2px var(--accent-color);
  outline: none;
}

.button {
  margin: 10px 0 10px 0;
}

.hr-lines {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 700;
  color: var(--secondary-darker);
  margin: 0 0 10px 0;
}

.hr-lines::before,
.hr-lines::after {
  content: "";
  display: block;
  height: 2px;
  width: 105px;
  top: 50%;
  background-color: var(--secondary-darker);
  border-radius: 50%;
}

.form-paragraph,
.link {
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
}

form p {
  color: var(--secondary-darker);
}

.link {
  text-decoration: none;
  color: var(--primary-dark);
}

/* Styling for sign up page */
.dark-background {
  background-color: var(--primary-dark);
}

.signup-title {
  color: var(--secondary-light);
  margin-top: 60px;
}

.signup-form input {
  background-color: var(--primary-dark);
  border: solid 2px var(--primary-light);
  color: var(--primary-light);
}

.signup-form input::placeholder {
  color: var(--secondary-darker);
}

.create-button {
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

.login-link {
  color: var(--primary-light);
  margin-bottom: 60px;
}

.input-error {
  color: var(--warning-color);
  font-size: 12px;
  font-weight: 600;
  text-align: right;
}

.error {
  border: solid 2px var(--warning-color) !important;
}

.alert-circle {
  font-size: 20px;
  align-self: self-start;
}

.error-message {
  background-color: #f0cede;
  color: var(--warning-color);
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  text-align: left;
}
