:root {
  --primary-light: #e5e1f2;
  --primary-dark: #5f5aa5;
  --secondary-light: #baaceb;
  --secondary-darker: #a796e3;
  --accent-color: #6da90f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Encode Sans", sans-serif;
  font-weight: 500;
}

body {
  background-color: var(--primary-light);
}

.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: var(--secondary-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation ul {
  display: flex;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0 10px;
  z-index: 1;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.8em;
  text-align: center;
  transition: 0.5s;
  color: var(--primary-dark);
}

.navigation ul li.active a .icon {
  transform: translateY(-35px);
  color: var(--secondary-light);
}

.navigation ul li a .text {
  position: absolute;
  color: var(--primary-dark);
  transform: translateX(50%);
  left: 50%;
  font-weight: 700;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translate(-50%, 20px);
}

.navigation ul li.active a .text {
  opacity: 1;
  transform: translate(-50%, 5px);
}

.indicator {
  position: absolute;
  top: -50%;
  width: 60px;
  height: 60px;
  margin: 0 10px;
  background-color: var(--primary-dark);
  border-radius: 50%;
  transition: 0.5s;
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(80px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(80px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(80px * 2));
}
