.divider {
  background-color: var(--secondary-light);
  height: 1px;
  display: none;
}

.profile-section-feed,
.profile-section,
.profile {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
}

.profile-section-feed,
.profile-section {
  padding: 15px 15px 10px 15px;
}

#backButton {
  cursor: pointer;
}

.arrow-styling {
  font-size: 25px;
}

.small-profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  color: var(--primary-dark);
  font-weight: 800;
  align-items: center;
}

.image-post {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.buttons-wrapper {
  display: flex;
  padding: 10px 15px;
  align-items: center;
}

.paw-button img,
.comment-button ion-icon,
.share-button ion-icon {
  width: 27px;
  height: 27px;
  color: var(--primary-dark);
}

.paw-button,
.comment-button,
.share-button {
  background: none;
  border: none;
  cursor: pointer;
}

.buttons-wrapper span {
  color: var(--primary-dark);
  padding-left: 5px;
  font-weight: 600;
}

.comment-button {
  padding-left: 15px;
  z-index: 1;
}

.share-button {
  margin-left: auto;
}

.description-name {
  font-weight: 700;
}

.description-section {
  color: var(--primary-dark);
  padding: 5px 15px 20px 15px;
  font-weight: 600;
  width: 100%;
  overflow-wrap: break-word; /* modern */
  word-wrap: break-word; /* legacy */
  word-break: break-word; /* fallback */
}

.edit-icon {
  color: var(--primary-dark);
  font-size: 30px;
}

#editButton {
  display: none;
  margin-left: auto;
  margin-right: 0;
  cursor: pointer;
}

/* Comments section */
.description-wrapper,
.comment {
  display: flex;
  padding: 15px 15px;
  gap: 15px;
  align-items: center;
}

.description-wrapper {
  padding: 10px 15px 15px 15px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.9em;
}

.align-self {
  align-self: self-start;
}

.remove-link-styling {
  text-decoration: none;
  color: var(--primary-dark);
}

/* Write comment */
.desktop-add-comment {
  margin: 20px 0;
}

.add-comment-section {
  display: none;
}

.add-comment-form {
  display: flex;
  width: 100%;
  gap: 10px;
}

.write-comment {
  font-size: 0.9em;
  padding: 8px 15px;
  border-radius: 20px;
  width: 100%;
  border: solid 2px var(--primary-dark);
  color: var(--primary-dark);
}

.write-comment::placeholder {
  color: var(--secondary-darker);
}

.write-comment:focus {
  border: solid 2px var(--accent-color);
  outline: none;
}

@media (max-width: 570px) {
  .desktop-add-comment {
    display: none;
  }

  .add-comment-section {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: var(--secondary-light);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .add-comment-form {
    margin: 0 15px;
  }
}
