main {
  max-width: 800px !important;
}

.profile-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
  margin: 25px 0 10px 0;
}

.username {
  font-size: 32px;
  font-weight: 900;
}

a.edit-profile-button {
  border: solid 2px var(--secondary-darker);
  color: var(--secondary-darker);
  background-color: var(--primary-light);
  margin: 20px 0 30px 0;
  text-decoration: none;
}

.info-section {
  display: flex;
  gap: 25px;
  align-items: center;
}

.align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.padding-right {
  padding-right: 30px;
}

.vertical-line {
  border-left: 2px solid var(--secondary-light);
  height: 30px;
}

.numbers-styling {
  font-weight: 700;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 100%));
  margin-top: 30px;
}

.thumbnail {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

/* user profile */
.user-profile-header {
  display: flex;
  justify-content: flex-start;
  height: 72px;
  align-items: center;
}

#backButton {
  cursor: pointer;
  margin-left: 15px;
}

.arrow-styling {
  font-size: 30px;
}

button.follow-button {
  margin: 20px 0 30px 0;
  padding: 8px 0;
  width: 142px;
  outline: solid 2px var(--secondary-darker);
  color: var(--secondary-darker);
  background-color: var(--primary-light);
}

button.following-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 30px 0;
  padding: 8px 0;
  width: 142px;
}

.following-button ion-icon {
  font-size: 20px;
}

@media (max-width: 920px) and (min-width: 760px) {
  main {
    margin-left: 72px !important;
  }
}

@media (min-width: 1200px) {
  .profile-info-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin: 60px 0;
  }

  .profile-info {
    align-items: flex-start;
  }

  .profile-picture {
    width: 160px;
    height: 160px;
    margin: 0;
  }

  a.edit-profile-button {
    margin: 20px 0;
  }
}

@media (min-width: 760px) {
  /* user profile */
  .user-profile-header {
    display: none;
  }
}
